<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>Alimin`s Homepage</title>
<!--    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>-->
<!--    <script type="text/javascript" src="./js/showdown.min.js"></script>-->
<!--    <script type="text/javascript" src="./js/template.js"></script>-->
<!--    <script type="text/javascript" src="./js/base64.min.js"></script>-->
    <link href="./css/font_questrial.css" rel="stylesheet">
    <link type="text/css" href="./css/index.css" rel="stylesheet">
</head>
<body>
<div id="content" class="content-root">
    <h1><span class="title block-accent header">Hello.</span></h1>
    <h2><span class="title" th:text="${user.name}"></span></h2>

    <table>
        <tr>
            <td class="title-1-120">Inf:</td>
            <td class="content" th:text="${user.gender} + ' / ' + ${user.age} + ' / ' + ${user.ageWork} + '年工作经验'"></td>
        <tr>
            <td class="title-1-120">Tel:</td>
            <td class="content" th:text="${user.phone}"></td>
        </tr>
        <tr th:each="page : ${pages}" >
            <td class="title-1-120" th:text="${page.name} + ':'"></td>
            <td class="content" th:text="${page.url}"></td>
        </tr>
    </table>

    <h2><span class="block-accent">01.</span><span class="title"><u>教育经历</u></span></h2>
    <table>
        <tr th:each="school : ${schools}">
            <td class="title-1-160" th:text="${school.begin} + ' - ' + ${school.end}"></td>
            <td >
                <span class="title-1" th:text="${school.name} + ' / '"></span>
                <span class="content" th:text="${school.major} + ' ' + ${school.grade}"></span>
            </td>
        </tr>
    </table>

    <h2><span class="block-accent">02.</span><span class="title"><u>工作经历</u></span></h2>
    <table>
        <tr th:each="work : ${works}">
            <td class="title-1-160" th:text="${work.begin} + ' - ' + ${work.end}"></td>
            <td >
                <span class="title-1" th:text="${work.company} + ' / '"></span>
                <span class="content" th:text="${work.position}"></span>
            </td>
        </tr>
    </table>

    <h2><span class="block-accent">03.</span><span class="title"><u>个人技能</u></span></h2>
    <table>
        <tr th:each="skill : ${skills}">
            <td class="title-1-120" valign="top" th:text="${skill.type}"></td>
            <td class="title-1" th:text="${skill.info}"></td>
        </tr>
    </table>

    <h2><span class="block-accent">04.</span><span class="title"><u>项目经历</u></span></h2>
    <table class="content-box">
        <tr class="content-outside" th:each="exp : ${experiences}">
            <td class="title-1-160" valign="top" th:text="${exp.begin} + ' - ' + ${exp.end}"></td>
            <td >
                <span class="title-1" th:text="${exp.project} + ' / '"></span>
                <span class="content" th:text="${exp.position}"></span>
                <div class="content-inside">
                    <span class="title-1" th:text="${exp.intro} + ' / '"></span>
                    <span class="content" th:text="${exp.work}"></span>
                    <br>
                    <div style="height: 8px;"></div>
                    <div th:each="detail : ${exp.details}">
                        <span class="content" th:text="${detail}"></span>
                        <br>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <h2><span class="block-accent">05.</span><span class="title"><u>获奖情况</u></span></h2>
    <table>
        <tr th:each="honor : ${honors}">
            <td class="title-1-120" valign="top" th:text="${honor.time}"></td>
            <td class="title-1" th:text="${honor.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>
